li {
    list-style-type: none;
    padding: 20px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 8vh;
    background-color: black;
    margin-top: auto;
    align-content: center;
    color: #fff;

}